<div class="top">
  <div class="icon"><%= image_tag "top_icon.png" %></div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,style: "background-color: white;border-radius: 5px;margin-bottom: 10px;color:gray;" %>
  </div>

  <div class="field">
    パスワード<br />
    <%= f.password_field :password, autocomplete: "off" ,style: "background-color: white;border-radius: 5px;margin-bottom: 20px;color:gray;" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= "ログインしたままにする" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "参加する" ,style: "background-color: white; color: #66cdaa; margin: 10px;padding: 2px 5px; border-radius: 10px;" %>
  </div>
<% end %>


<p style="background-color: #66cdaa;"><%= link_to 'パスワードをお忘れですか？', new_user_password_path %></p>
<%= link_to 'チームの作成', new_user_registration_path %>
<%= link_to 'Topページ', home_index_path %>
</div>
