<% c = ["選択なし","練習","連絡","練習なし","その他"] %>
<%= form_for(@memo) do |f| %>
<header>
	<ul>
		<li><%= link_to image_tag('left.png'), date_list_path(@memo.date)  %></li>
		<li><%= @memo.date %></li>
		<%= f.select :category, [["練習", "1"], ["連絡", "2"],["なしに変更", "3"],["その他", "4"],["選択なし", "0"]] %>
	</ul>
	<div class="geer"">
    	<%= link_to image_tag('geer.png'), members_cfg_path %>
	</div>
</header>

<div class="container">
	<div class="title">
		タイトル: <%= f.text_field :title, size: 20 %>
	</div>

		<%= f.text_area :content ,style: "background-color: #fafafa;border-bottom: 3px solid white;width: 100%;padding: 10px 0px;color: gray; height: 300px;"%>
	</div>

	<div class="join"><%= f.submit '保存'%></div>
</div>
<% end %>
