<% c = ["選択なし","練習","連絡","練習なし","その他"] %>
<% current_user.memos.each do |memo| %>
<header>
	<ul>
		<li><%= link_to image_tag('left.png'), members_url %></li>
		<li><%= @date.strftime("%m/%d") %></li>
		<% if memo.date == @date %>
		<%= c[memo.category] %>
		<% end %>
	</ul>
	<div class="geer"">
    	<%= link_to image_tag('geer.png'), members_cfg_path %>
	</div>
</header>

<div class="container">
	<div class="info">
		<% if memo.date == @date %>
	  	<table>
	      <td>連絡事項(カテゴリ変更):　</td>
	      <% if memo.title == nil && memo.content == nil %>
	      <td><%= link_to 'なし' ,edit_memo_path(memo)%></td>
	      <% else%>
	      <td><%= link_to memo.title ,edit_memo_path(memo)%></td>
	      <% end %>
	    </table>
	    <% end %>
	</div>

</div>
<% end %>

  <div class="m_list">
  <% @members.each do |member| %>
        <table>
          <tr>
            <td><%= button_to ' ', member_path(member), method: :delete ,class: "delete_button", data: { confirm: '削除しますか？' }%></td>
            <td><%= member.name %></td>
          </tr>
        </table>
  <% end %>
  </div>
  <div class="join">参加する</div>


<div class="new_box">
    <%= form_for(@member) do |f| %>
    <div class="sbm">
      <p><%= 'cancel' %></p>
      <p><%= f.submit 'save'%></p>
    </div>
    <div style="margin: 15px;">
      <%= f.text_field :name, size: 20 ,style: "border: 1px solid lightgray; text-align: center; background-color: white;padding: 10px 0px;" ,placeholder: "名前"%>
    </div>
    <%= f.hidden_field :date, :value => params[:date] %>
    <% end %>
</div>
